<% layout('layout') -%>

<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="POST">
            <div class="form-group">
              <input
                type="text"
                placeholder="Insert a Title"
                class="form-control"
                name="title"
              />
            </div>
            <br />
            <div class="form-group">
              <textarea
                cols="80"
                rows="3"
                class="form-control"
                placeholder="Insert a Description"
                name="description"
              ></textarea>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
      </div>
    </div>

    <!--LIST-->
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Title</th>
            <th>Description</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < tasks.length; i++){ %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= tasks[i].title %></td>
            <td><%= tasks[i].description %></td>
            <td><a href="/done/<%= tasks[i]._id %>" class="btn <%= tasks[i].status ? 'btn-success' : 'btn-dark' %>">Done</a>
                <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger">Delete</a>
                <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">Edit</a></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
